.task {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    padding-left: 10px;
    padding-right: 20px;
    color: #8C452B;
    background-color: #F2C0A2;
    border-radius: 10px;
    cursor: move;
  }
}
