.experimental-table {
  grid-column: 3;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 300px;
  height: 300px;
  background-color: rgb(48, 79, 74);
  border-radius: 50%;
  border: 5px solid rgb(33, 55, 51);
  transition: transform .2s;
  overflow: hidden;

  &--entered {
    transform: scale(105%);
  }

  &__indredients-wrapper {
    display: flex;
    gap: 10px;
  }

  &__button {
    border: 3px solid rgb(78, 2, 2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: red;
    transition: transform .2s;
    cursor: pointer;

    &:hover {
      transform: scale(95%);
    }
  }
}
