.experimental-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #BF784E;
  border: 5px solid #8C452B;
  border-radius: 20px;

  @media screen and (min-width: 750px) {
    grid-column: 3;
    grid-row: 3;
    height: 300px;
    padding-top: unset;
    padding-bottom: unset;
    border-radius: 50%;
    transition: transform .2s;
    overflow: hidden;
  }

  &--entered {
    transform: scale(105%);
  }

  &__indredients-wrapper {
    display: flex;
    gap: 10px;
  }

  &__button {
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #F24738;
    transition: transform .2s;
    cursor: pointer;

    &:hover {
      transform: scale(95%);
    }
  }
}
