.item {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 55px);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &:hover .item__icon {
    transform: scale(95%);
  }

  &--selected {
    position: unset;
  }

  &__icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.507);
    border: 5px solid #689BA6;
    transition: transform .3s;
  }

  &__name {
    max-width: 100px;
    margin-top: 5px;
    color: #BF3945;
    font-weight: 700;
    text-align: center;
  }
}

.item:hover.item--selected .item__icon {
  transform: none;
}
