.result-card {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(93, 92, 92, 0.484);
  backdrop-filter: blur(5px);
}

.result-card__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
}

.result-card__wrapper__title {
  padding-top: 0;
  padding-bottom: 0;
  color: black;
}

.result-card__wrapper__image {
  width: 300px;
  height: 200px;
  background-image: url('../../assets/explosion-static.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.result-card__wrapper__description {
  color: black;
}

.result-card__wrapper__button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: none;
  cursor: pointer;
  transition-property: transform, color;
  transition-duration: .2s;
}

.result-card__wrapper__button:hover {
  transform: scale(95%);
  color: gray;
}
