.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: center;
  background-color: rgb(72, 119, 110);
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 500px;
}
