.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.app__title {
  margin-bottom: 80px;
}

.app__link {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: rgb(129, 214, 217);
  color: white;
  font-weight: 700;
  text-decoration: none;
  border-radius: 10px;
  transition: transform .2s;
}

.app__link:hover {
  transform: scale(95%);
}
