.todo-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.todo-page__link {
  color: black;
  font-size: 12px;
  text-decoration: none;
}

.todo-page__link:hover {
  text-decoration: underline;
}

.todo-page__task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
