.message {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(93, 92, 92, 0.484);
  backdrop-filter: blur(5px);

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    padding-left: 40px;
    padding-right: 40px;
    color: black;
    background-color: white;
    border-radius: 10px;

    &__button {
      position: absolute;
      top: 20px;
      right: 20px;
      border: none;
      background: none;
      cursor: pointer;
      transition-property: transform, color;
      transition-duration: .2s;

      &:hover{
        transform: scale(95%);
        color: gray;
      }
    }
  }
}
